<div class="row">
    <div class="col-md-12" ng-init="loading = {}">
        <adminr-panel panel-loading-spinner="loading.bool">
            <panel-heading>Test form</panel-heading>
            <panel-body>
                <form adminr-form ng-submit="user.$save()" name="userForm">
                    <group>
                        <label>Username</label>
                        <input type="text" class="form-control" name="username" ng-model="user.data.username" placeholder="Username" required />
                    </group>
                    <group>
                        <label>Gender</label>
                        <div class="form-control">
                            <input type="radio" name="gender" value="male" ng-model="user.data.gender" required /> male
                            <input type="radio" name="gender" value="female" ng-model="user.data.gender" required /> female
                        </div>
                    </group>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </panel-body>
        </adminr-panel>
    </div>
</div>
