<!DOCTYPE html>
<html lang="en" ng-app="adminr-core-test">
<head>
    <meta charset="UTF-8">
    <title>Adminr-bootstrap example</title>

    <link rel="stylesheet" media="all" href="../dist/styles.css">
    <link rel="stylesheet" media="all" href="../bower_components/bootstrap-css-only/css/bootstrap.css">
    <link rel="stylesheet" media="all" href="../bower_components/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" media="all" href="../bower_components/angular-treasure-overlay-spinner/dist/treasure-overlay-spinner.min.css">

    <script src="../bower_components/angular/angular.js" type="application/javascript"></script>
    <script src="../bower_components/angular-animate/angular-animate.js" type="application/javascript"></script>
    <script src="../bower_components/angular-treasure-overlay-spinner/dist/treasure-overlay-spinner.min.js" type="application/javascript"></script>
    <script src="../bower_components/angular-bootstrap/ui-bootstrap-tpls.js" type="application/javascript"></script>
    <script src="../bower_components/angular-resource/angular-resource.js" type="application/javascript"></script>
    <script src="../bower_components/ngstorage/ngStorage.js" type="application/javascript"></script>
    <script src="../bower_components/adminr-datasources/dist/index.js" type="application/javascript"></script>
    <script src="../dist/index.js" type="application/javascript"></script>
    <script src="index.js" type="application/javascript"></script>
    <style ></style>
</head>
<body ng-controller="TestCtrl">

<div class="container">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Adminr-bootstrap</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-class="{active:(page == 'forms')}"><a href="#forms" ng-click="page = 'forms'">Forms</a></li>
                    <li ng-class="{active:(page == 'tables')}"><a href="#tables" ng-click="page = 'tables'">Tables</a></li>
                    <li ng-class="{active:(page == 'modal')}"><a href="#modal" ng-click="page = 'modal'">Modal</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>


    <div class="starter-template text-center">
        <h1>Adminr bootstrap module</h1>
        <p class="lead">This is example of bootstrap components in admin-bootstrap</p>
    </div>

    <div ng-include="page + '.html'"></div>
</div><!-- /.container -->

</body>
</html>