<div class="row">
    <div class="col-md-12" ng-init="loading = {}">
        <adminr-panel panel-loading-spinner="loading.bool">
            <panel-heading>
                Panel with buttons
                <button class="btn btn-default">button1</button>
                <button class="btn btn-success">button2</button>
                <button class="btn btn-danger">button3</button>
            </panel-heading>
            <panel-body>
                This is panel content <br />
                This is panel content <br />
                This is panel content <br />
            </panel-body>
        </adminr-panel>
    </div>
</div>

<div class="row">
    <div class="col-md-12" ng-init="loading = false">
        <adminr-panel panel-loading-spinner="loading">
            <panel-heading>Panel with loading spinner {{loading?'on':'off'}} (<input type="checkbox" ng-model="loading" />)</panel-heading>
            <panel-body>
                This is panel content <br />
                This is panel content <br />
                This is panel content <br />
            </panel-body>
        </adminr-panel>
    </div>
</div>

<div class="row">
    <div class="col-md-3" ng-repeat="context in ['primary','info','success','danger']">
        <adminr-panel context="context">
            <panel-heading>{{context}} panel</panel-heading>
            <panel-body>
                content for context: {{context}} <br />
            </panel-body>
        </adminr-panel>
    </div>
</div>
