<adminr-resource assign="users" init="User.query({limit:5,order:'username'})"></adminr-resource>
<div class="row">
    <div class="col-lg-12">
        <adminr-modal name="addUserModal" on-close="users.reload()">
            <form adminr-form ng-submit="user.$save()">
                <modal-body>
                    <adminr-resource assign="user" init="User.create()" on-save="addUserModal.close()"></adminr-resource>
                        <div form-group label="Username">
                            <input type="text" ng-model="user.data.username" class="form-control" required />
                        </div>
                </modal-body>
                <modal-footer>
                    <button form-submit saving="!user.resolved">Save</button>
                    <a class="btn btn-default" ng-click="$dismiss()">Cancel</a>
                </modal-footer>
            </form>
        </adminr-modal>
        <adminr-panel>
            <panel-body>
                <div class="col-md-6">
                    <input type="number" ng-model="users.range.offset" />
                    {{users.params}}{{users.range}}
                </div>
                <div class="col-md-6">
                    search disabled: <input type="checkbox" ng-model="options.searchDisabled" /><br />
                    numbers disabled: <input type="checkbox" ng-model="options.numbersDisabled" /><br />
                    paging disabled: <input type="checkbox" ng-model="options.pagingDisabled" /><br />
                </div>
                <div adminr-table-panel table-panel-resource="users" table-panel-title="'This is table panel'" add-button="addUserModal.open()" table-panel-options="options" class="col-md-12">
                    <table>
                        <tr>
                            <td header="#" sort-column="id" class="schrink">#{{row.id}}</td>
                            <td header="Name" sort-column="username" adminr-grid-cell="username"></td>
                            <td class="schrink">
                                <a class="btn btn-primary" ng-click="row.id=row.id+1">id++</a>
                                <a class="btn btn-primary" adminr-grid-button="row">edit</a>
                                <a class="btn btn-danger" adminr-delete-button="row" on-delete="users.reload()">Delete</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </panel-body>
        </adminr-panel>
    </div>
</div>

<div class="row">
    <div class="col-lg-8">
        <adminr-panel>
            <panel-heading>this is table test</panel-heading>
            <panel-body>
                <div class="row form-inline">
                    <div class="col-md-6">
                        <div class="dataTables_length">
                            <label>
                                Show
                                <select ng-model="users.range.limit" ng-options="i for i in [5,10,20,50]" class="form-control input-sm"></select>
                                entries
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <label>
                                Search:
                                <input ng-model="users.params.q" type="text" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table adminr-table>
                            <tbody body-resource="users" body-resource-path="data" body-generate-header="aa">
                            <tr>
                                <td header="#" sort-column="id">#{{row.id}}</td>
                                <td header="Name" sort-column="username">{{row.username}}</td>
                                <td class="schrink">
                                    <a class="btn btn-primary" ui-sref="userDetail({id:row.id})">detail</a>
                                    <a class="btn btn-danger" ng-click="users.deleteItem(row)">X</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <adminr-pagination class="pagination-xl" pagination-resource="users"></adminr-pagination>
                        <!--<uib-pagination  max-size="maxSize" class="pagination-sm" boundary-links="true" rotate="false"></uib-pagination>-->
                    </div>
                </div>
            </panel-body>
        </adminr-panel>
        <!--<div ng-repeat="row in appsResource">{{row}}</div>-->
        {{users.params}}{{users.range}}
    </div>
</div>
